html {  
  box-sizing: border-box;  
}

*, *:before, *:after {  
  box-sizing: inherit;  
}

	
h1 {
	text-align: center;
    font-size: 200%;
}

body {
    font-family: sans-serif;
}

/* main-nav */

.main-nav {
    background-color: #fff;
    font-weight: normal;
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    line-height: 0.5;
    width: 100%;
    text-align: center;
}

.main-nav i {
    display: none;
}

.main-nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 2.5em;
    padding: 1em 0em;
}   

li a, .dropbtn {
    display: inline-block;
    color: #cc3300;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #cc6949;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #cc3300;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* header */
.hero-image img {
    width: 350px;
    display: block;
    margin: auto;
}

.home-header h1 {
    font-family: 'Satisfy', cursive;
    font-size: 700%;
    font-weight: normal;
    color: #cc3300;
    padding: 2%
}

/* main-content */

.main-content {
    max-width: 60%;
    margin: 2em auto;
    line-height: 2em;
    font-family: 'Crimson Text', serif;
    font-size: 1.2em;
    padding-bottom: 2em;
}

.main-content h2 {
    display: inline;
    font-family: 'Satisfy', cursive;
    color: #000;
}

.main-content img {
    display: block;
    margin: 0 auto;
}

/* menu */

.menu-listings {
     font-family: 'Crimson Text', serif;
     line-height: 1.5;
     max-width: 100%;
     clear: both;
}

.menu-listings h3 {
    font-family: 'Satisfy', cursive;
    font-size: 200%;
    font-weight: normal;
    color: #cc3300;
    text-align: center;
}

.menu-item {
    display: inline-block;
    width: 33%;
}

.menu-item li {
    list-style-type: none;
    line-height: 1.25;
    position: relative;
}

/* footer */

.footer {
    background: #545454;
    color: white;
    font-family: 'Crimson Text', serif;
    line-height: 0.5;
    clear: both;
    padding: 2em 4em;
    text-align: left;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: underline;
}

.footer a:hover {
    color: #aaa;
    text-decoration: underline;
}

.hours ul {
    text-align: left;
}

.hours li{
    line-height: 1.5;
    list-style-type: none;
}

.hours {
    float: right;
}

.address {
    float: left;

}







